# Python
__pycache__/
*.so
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment (Matches your 3.12 venv)
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace
.history/

# Database & Secrets
.env
db.sqlite3
db.sqlite3-journal
*.log
sermon_brain_db.sqlite3
sermon_brain_db/
*.sqlite3
chroma.sqlite3
# Docker
.docker/